name: MobileGlues

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Update glslang sources (Explicit Path)
        working-directory: MobileGlues/3rdparty/glslang
        run: python3 update_glslang_sources.py

      - name: Set current date as env variable
        run: echo "date_today=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Set repository name as env variable
        run: echo "repository_name=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android NDK
        run: |
          echo "y" | sdkmanager "ndk;27.3.13750724"
          echo "ndk.dir=$ANDROID_HOME/ndk/27.3.13750724" >> local.properties

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build apk
        run: ./gradlew assembleRelease

      - name: Upload apk
        uses: actions/upload-artifact@v4
        with:
          name: MobileGL_${{ env.date_today }}_${{ github.sha }}
          path: app/build/outputs/apk/release/